.main-content-transaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.transaction-info-container{
    display: flex;
    flex-direction: row;
}

.transaction-info-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:1.4rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-transaction {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /*border-radius: 12px;  rounded-xl */
    padding: 24px; /* p-6 */
    margin-bottom: 24px; /* mb-6 */
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid #eeeeee;*/
}

.transaction-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
    font-size: clamp(0.6rem, 1.25vw, 1rem);
}

.transaction-info-desc{
    width: 5.2rem;
    overflow: hidden;
}

.transaction-info-balance{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: clamp(1rem, 1.7vw, 1.75rem);
    margin-bottom: 1rem;
    height: 40%;
}

.transaction-info-balance-sub{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.transaction-info-balance-amount{
    color: var(--turqoise);
    font-size: clamp(1.25rem, 2.5vw, 2rem);
}

.transaction-actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30%;
}

.transaction-header-card {
    width: 100%;
    font-size: clamp(0.5rem, 1vw, 1rem);
    font-weight: 600; /* font-semibold */
    color: #333333; /* text-gray-800 */
    margin-bottom: 16px; /* mb-4 */
    padding-bottom: 12px; /* pb-3 */
    border-bottom: 1px solid #e2e8f0; /* border-b border-gray-200 */
}

.transaction-action-button {
    background-color: var(--indigo);
    color: var(--wit);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(0.7rem, 2vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0.03125rem;
    border: none;
    border-radius: 0.93rem;
    cursor: pointer;
    width: 33%;
    aspect-ratio: 485 / 146;
}

.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    & > div {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: white;
        border: 0.0625rem solid var(--gray-dark);
    }
    header {
        font-weight: bold;
    }
    h1 {
        font-size: 150%;
        margin: 0 0 15px;
    }
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

.modal-window {
    & > div {
        border-radius: 1rem;
    }
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

.logo {
    max-width: 150px;
    display: block;
}

.btn {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    text-decoration: none;
    i {
        padding-right: 0.3em;
    }
}
.slider-transaction {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-transaction:hover {
    opacity: 1;
}

.slider-transaction::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--indigo);
    cursor: pointer;
}

.slider-transaction::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--indigo);
    cursor: pointer;
}

.transaction-modal-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.transaction-modal-value{
    font-size: 1.5rem;
    color: var(--turqoise);
}

.transaction-modal-value input::-webkit-outer-spin-button,
.transaction-modal-value input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.transaction-modal-value input[type=number] {
    -moz-appearance: textfield;
}