@import url("./variables.css");

.page-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: 80vh;
    padding: 6rem 4rem;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.toggle-caption {
    margin-left: 10px;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--indigo);
}

.title {
    font-size: clamp(2rem, 4vh, 2.5rem);
    color: var(--indigo);
    margin-bottom: 2rem;
}

.form-group {
    /* scale between 1.5rem and 2.5rem based on viewport width */
    margin-bottom: clamp(1.5rem, 2vh, 2.5rem);
}

.custom-input {
    display: block;
    width: 40vw;
    height: 8vh;
    box-sizing: border-box;
    padding: 0.75rem;
    font-size: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--indigo);
    font-size: clamp(1rem, 2vh, 1.5rem);
}

.toggle-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 44px;
    margin-right: 15px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-dark);
    transition: .4s;
    border-radius: 44px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--indigo);
}

input:checked + .slider:before {
    transform: translateX(36px);
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.btn-large {
    border: none;
    cursor: pointer;

    /* height grows/shrinks between 4rem and 6rem, ideal = 8% of viewport height */
    height: clamp(4rem, 8vh, 6rem);

    /* padding left/right and top/bottom scale to vh too */
    padding: clamp(1rem, 2.5vh, 1.5rem)
    clamp(2rem, 4vh, 2.5rem);

    /* font-size scales between 1rem and 2rem based on vh */
    font-size: clamp(1rem, 3vh, 2rem);

    /* border-radius scales to maintain corner roundness */
    border-radius: clamp(0.5rem, 1.5vh, 1rem);
}

h1 {
    font-size: 2.5rem;
    color: var(--indigo);
    margin-bottom: 2.5rem;
}