.index-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: clamp(0.5rem, 2vw, 1rem);
}

.index-main-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%
}

.index-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 70%;
    padding: clamp(0.5rem, 2vw, 1.25rem);
    gap: clamp(0.5rem, 2vw, 1rem);
}

.index-balance-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    margin: clamp(0.5rem, 2vw, 1rem);
    padding: clamp(0.5rem, 2vw, 1rem);
    width: 20%;
    height: 70%;
    border-radius: 15px;
}

.index-actions-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
}

.index-action{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 40%;
    border-radius: 15px;
    background-color: var(--gray);
    padding: clamp(1rem, 3.5vw, 2rem);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.index-action:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}

.index-balance-container h1{
    color:var(--turqoise);
    font-size: clamp(1.5rem, 3vw, 5.5rem);
}
.index-title h1{
    font-size: clamp(2rem, 3vw, 3rem);
}

.index-title p{
    font-size: clamp(0.8rem, 1.7vw, 1.4rem);
}
.index-action h1{
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
}
.index-action p{
    font-size: clamp(0.3rem, 1.75vw, 1.5rem);
}
.index-balance-container h2{
    font-size: clamp(0.5rem, 2vw, 1.75rem);
}


@media (max-width: 768px) {
    .index-wrapper{
        justify-content: space-around;
    }

    .index-main-info{
        flex-direction: column;
        height: 60%;
        justify-content: start;
    }
    .index-title{
        height: 60%;
        width: 90%;
    }
    .index-balance-container{
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 30%;
    }
    .index-actions-container{
        height: 30%;
    }

    .index-balance-container h1 {
        color: var(--turqoise);
        font-size: clamp(3rem, 3vw, 5rem);
    }

    .index-title h1 {
        font-size: clamp(2rem, 3.5vw, 3rem);
    }

    .index-title p {
        font-size: clamp(1rem, 2.5vw, 1.3rem);
    }

    .index-action h1 {
        font-size: clamp(1.5rem, 2.75vw, 2.25rem);
    }

    .index-action p {
        font-size: clamp(0.4rem, 2.5vw, 1.5rem);
    }

    .index-balance-container h2 {
        font-size: clamp(2rem, 2.2vw, 3rem);
    }
}
