.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-height: 80vh;
    padding: 2rem; /* safer value */
    width: 100%;
    max-width: 60vw;
    margin: auto;
    box-sizing: border-box;
    overflow-x: hidden; /* prevent overflow */
}

.log-scroll-container {
    overflow: auto;
    max-height: 60vh;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    padding: 1rem;
}

.log-container {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    font-size: 0.65em;
}