.container-payment {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 2rem;
}
.purchase-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    margin-bottom: 3.5rem;
}
.purchase-info {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem; /* 81.25% */
    letter-spacing: 0.03125rem;
    color: var(--indigo);
    margin-bottom: 1.5rem;
}

.product-name {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem; /* 54.167% */
    letter-spacing: 0.03125rem;
    color: var(--indigo);
    margin-bottom: 4rem;
}

.price {
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem; /* 40.625% */
    letter-spacing: 0.03125rem;
    color: var(--indigo);
}

.pay-button {
    background-color: var(--geel); /* Yellow color */
    color: var(--wit);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem; /* 40.625% */
    letter-spacing: 0.03125rem;
    border: none;
    border-radius: 0.93rem;
    cursor: pointer;
    width: 18rem;
    aspect-ratio: 285 / 146;
    margin-bottom: 3rem;
    transition: all 0.05s ease-in-out;
    text-align: center;
    align-items: center;
}

.pay-button:hover {
    filter: brightness(0.95);
    transform: scale(1.02);
}

.pay-button:active {
    filter: brightness(0.90);
    transform: scale(0.99);
}

.pay-button:disabled {
    opacity: 60%;
}

.top-up-info {
    display: flex; /* Use flexbox for balance and top-up button */
    align-items: center; /* Vertically center items */
    justify-content: space-between;
    gap: 10px; /* Space between balance text and button */
    width: 95%;
}

.top-up-text {

    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem; /* 81.25% */
    letter-spacing: 0.03125rem;
}

.top-up-balance-text{
    padding: 0.2rem 0rem;
}

.top-up-button {
    background-color: var(--turqoise); /* blue color*/
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 8rem;
    height: 3.8125rem;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem; /* 108.333% */
    letter-spacing: 0.03125rem;
    transition: all 0.05s ease-in-out;
    align-items: center;
    text-align: center;
}

.top-up-button:disabled {
    opacity: 60%;
}

.top-up-button:hover {
    filter: brightness(0.95);
    transform: scale(1.02);
}

.top-up-button:active {
    filter: brightness(0.90);
    transform: scale(0.99);
}

@media (max-width: 768px) {
    .container-payment {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 2rem;
    }

    .product-name{
        margin-bottom: clamp(0.5rem, 3vh, 1.5rem);
        line-height: 3rem;
    }
    .purchase-info-container{
        margin-bottom: clamp(1rem, 2vh, 2rem);
    }
    .price{
        font-size: clamp(3rem, 15vw, 5rem);
        line-height: clamp(3rem, 15vw, 5rem);
    }
}