@import url("./variables.css");


.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 80vh;
    padding: 6rem 4rem;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}


.title {
    font-size: 2.5rem;
    color: var(--indigo);
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 2.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--indigo);
    font-size: 1.5rem;
}

.form-control {
    width: 100%;
    padding: 1.2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: var(--gray-dark);
    color: var(--zwart);
    height: 5rem;
}

.toggle-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 44px;
    margin-right: 15px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-dark);
    transition: .4s;
    border-radius: 44px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--indigo);
}

input:checked + .slider:before {
    transform: translateX(36px);
}

.toggle-caption {
    margin-left: 10px;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--indigo);
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.submit-btn {
    display: inline-block;
    padding: 1.75rem 2.5rem;
    background-color: var(--geel);
    color: var(--zwart);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.submit-btn:hover {
    filter: brightness(0.95);
}

.submit-btn.disabled {
    background-color: var(--gray-dark);
    color: var(--gray-darker);
    cursor: not-allowed;
}

h1 {
    font-size: 2.5rem;
    color: var(--indigo);
    margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
    .form-group label {
        font-size: 1.3rem;
    }

    .form-control {
        font-size: 1.3rem;
        height: 4.5rem;
    }

    .submit-btn {
        font-size: 1.3rem;
        padding: 1rem 2rem;
    }
}