@import url("./variables.css");
@import url("./layout.css");
@import url("./sidebar.css");
@import url("./main-box.css");
@import url("./mobile-nav.css");
@import url("./transactions.css");
@import url("./payment.css");
@import url("./notifications.css");
@import url("./admin-controls.css");
@import url("./datepicker.css");
@import url("./admin-table.css");
@import url("./cookie-consent.css");
@import url("./footer.css");
@import url("./admin-controls.css");
@import url("./admin-table.css");
@import url("./statistics.css");
@import url("./mobile-header.css");
@import url("./admin-user.css");
@import url("./admin-transaction.css");
@import url("./index.css");
@import url("./admin-dashboard.css");

/*--------------- Buttons ---------------*/

.btn {
    text-decoration: none;
}

.btn:hover {
    filter: brightness(90%);
}

.btn.selected {
    outline: 5px solid var(--blauw);
}

.btn.disabled {
    background-color: var(--gray-dark);
    color: var(--gray-darker);
    cursor: not-allowed;
}

.btn-large {
    border: none;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    height: 6rem;
    width: auto;
}

.btn-indigo {
    background-color: var(--indigo);
    color: var(--wit);
}

.btn-blauw {
    background-color: var(--blauw);
    color: var(--zwart);
}

.btn-geel {
    background-color: var(--geel);
    color: var(--wit);
}

/*--------------- Other inputs ---------------*/

.custom-input {
    background-color: var(--gray-dark);
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding: 0 1.2rem;
    height: 6rem;
    width: 100%;
    grid-column: span 2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--gray);
  color: var(--indigo);
  font-size: 1rem;
}

@media (max-width: 768px) {

    /*--------------- Other inputs ---------------*/
    .custom-input {
        font-size: 1.4rem;
        height: 4.5rem;
        padding: 0.8rem 1rem;
        grid-column: span 2;
    }
}