:root {
    --indigo: #1E274A;
    --zwart: #000000;
    --magenta: #E8308A;
    --geel: #FBBB21;
    --wit: #FFFFFF;
    --blauw: #90B6CB;
    --oranje: #EE7203;
    --turqoise: #2AA1A9;
    --gray: #E7EBF1;
    --red: #E83028;
    --gray-dark: #CACDD2;
    --gray-darker: #A8ADB4;
    --green: #5FCC00;
  }