<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Dashboard</h1>
<div sec:authorize="isAuthenticated()">
    <p>Welcome <span sec:authentication="name"></span>!</p>
    <p>Your authorities: <span sec:authentication="principal.authorities"></span></p>
    <form th:action="@{/logout}" method="post" class="logout-form">
        <button type="submit" class="logout-button">Logout</button>
    </form>
</div>
<!-- Listing all user attributes:
<div>
    <h3>All User Attributes:</h3>
    <ul>
        <li th:each="attr : ${#authentication.principal.attributes}">
            <span th:text="${attr.key}"></span>: <span th:text="${attr.value}"></span>
        </li>
    </ul>
</div>
    Email, name
   <p>Your email: <span sec:authentication="principal.attributes['email']"></span></p>
   <p>Your name: <span sec:authentication="principal.attributes['name']"></span></p>
-->
</body>
</html>
